---
import Layout from "../layouts/Layout.astro"
---
<Layout title="HomePage">
  <main>
    <h1>MadaraDev</h1>
    <p>Portal en proceso...</p>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
</style>